.oi{
    font-family: arial;
    font-weight: 900;
    font-size: 50px;
}
.oe{
    font-family: Verdana;
    font-size: 20px;
}
.ow{
    font-family:impact;
    font-weight: bold;
    font-size: 35px;
    
}